<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${Titulo}"></title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
  <body>
    <div class="d-flex flex-column vh-100">
      <header th:replace="~{plantillas/fragments/header_comm :: main-header}"></header>
      <div class="d-flex flex-grow-1">
        <aside th:replace="~{plantillas/fragments/sidebar_comm :: main-sidebar}"></aside>
          <main class="flex-grow-1 p-4" layout:fragment="content">
            <!-- Notificaciones Bootstrap -->
            <div th:if="${mensajeExito}" class="position-fixed top-0 end-0 p-3" style="z-index: 11">
              <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>
                <div th:text="${mensajeExito}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            <div th:if="${mensajeError}" class="position-fixed top-0 end-0 p-3" style="z-index: 11">
              <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <div th:text="${mensajeError}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </main>
      </div>
      <!-- Footer -->
      <footer th:replace="~{plantillas/fragments/footer_comm :: main-footer}"></footer>
    </div>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>