<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{plantillas/plantilla_principal}">
<head>
    <title>Historiales</title>
</head>
<body>
<main class="flex-grow-1 p-5" layout:fragment="content">
    <div class="text-center">
        <h2 class="mb-4">Historiales del Sistema</h2>
        <div class="d-grid gap-3 col-6 mx-auto">
            <a class="btn btn-primary btn-lg" th:href="@{/admin/movimientos/pedidos}">
                <i class="bi bi-clock-history me-2"></i> Ver Movimientos en Pedidos
            </a>
            <a class="btn btn-success btn-lg" th:href="@{/admin/movimientos/productos}">
                <i class="bi bi-box-seam me-2"></i> Ver Movimientos en Productos
            </a>
        </div>
    </div>
</main>
</body>
</html>
