<footer th:fragment="main-footer" class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="bi bi-shop"></i> Zorro Abarrotero</h5>
                <p>Tu tienda de abarrotes de confianza desde 1995</p>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt"></i> Av. Principal #123, CDMX</li>
                    <li><i class="bi bi-telephone"></i> 55 1234 5678</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Términos y condiciones</a></li>
                    <li><a href="#" class="text-white">Aviso de privacidad</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <small>© 2023 Zorro Abarrotero. Todos los derechos reservados.</small>
        </div>
    </div>
</footer>