<header th:fragment="main-header" class="main-header text-white shadow-sm">
    <div class="container-fluid d-flex justify-content-between align-items-center py-2">
        <!-- Logo -->
        <a class="d-flex align-items-center text-white text-decoration-none" th:href="@{/inicio}" style="padding-left: 47.5%;">
            <img th:src="@{/images/logo.png}" alt="Logo" height="60" class="img-border me-2">
        </a>

        <!-- Usuario -->
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-1"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="dropdown-item text-danger">
                            <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</header>